.hero {
    background: url(./img/bgs/herobg.png) center top  80% / cover  no-repeat;
    background-color: #1968B1;
    color: #FFFFFF;
    height: 100%;
    min-height: 36.222rem;
   
    @include tablets {
        background: url(./img/bgs/herobg.png) right 10% bottom / cover no-repeat;
        background-color: #1968B1;
    }

    @include phones {
        background: url(./img/bgs/herobg.png) right 30% bottom / cover no-repeat;
        background-color: #1968B1;
    }
}

.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.555rem 0 3.611rem;

    @include tablets {
        width: 100%;
        padding:  0 0 3.611rem;
        
    }
}

.hero__title-section {
    width: 46%;
    
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.hero__main-title {
    font-size: 2.666rem;
    font-weight: bold;
    line-height: 1.1em;
    text-transform: uppercase;
    margin-bottom: 0.944rem;

    @include phones {
        font-size: rem(40px);
    }
    @include smallscreen {
        font-size: rem(30px);
    }
}

.hero__title-desc {
    font-size: 1.166rem;
    margin-bottom: 2.166rem;

    @include smallscreen {
        font-size: rem(18px);
    }
}
.hero__icon-section {
    @include tablets {
        display: none;
    }
}