.team__player{
text-align: center;
position: relative;

    &-image {
        margin-bottom: rem(24px);
        @include tablets {
            margin-bottom: rem(20px);
        }

        @include phones {
            width: rem(138px);
            height: rem(180px)  ;
        }

    }

    &-text {
    text-align: center;
    padding-top: rem(8px);
    position: absolute;
    overflow: hidden;
    height: 0;
    transition:  height 0.3s;

        @include tablets {
            position: relative;
        }
    
    }


    &-block {

        
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &-link{
        font-weight: bold;
        font-size: rem(18px);
        position: relative;
        transition: 0.3s;
        
        
        
        &::after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 42%;
            transform:translateX(100%);
            border: rem(4px) solid transparent;
            border-top: rem(6px) solid $black;
            transition: transform .3s;
        
                
        }

        &--active::after{
            transform:translate(100%, -42%) rotate(180deg);
          
       
          }
            
        
    
    }

    &-subtitle {
        @include tablets {
            font-weight: bold;
        }
    }

    &-desc  {
        font-size: rem(18px);
        color:  $body;
        line-height: rem(21.6px);
        
    
    }
}

