.feature {
    display: flex;
}


.feature__icon {
    width: rem(35px);
    margin-right: rem(14px);

    &-elem {
        width: rem(35px);
        height: rem(35px);
        fill: #fff;
    }
}


.feature__text {
    font-size: rem(16px);
    font-weight: bold;
    max-width: rem(90px);
    line-height: rem(18px);
}


