.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(86px);
}

address {
    font-style: normal;
}

.contacts__address {
    font-size: rem(21px);

}

.phone-number--footer {
    font-weight: normal;
}


.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(14px);

    &:last-child{
        margin-right: rem(0px);
    }

    &--icon--vk .socials__link {
        background: url(../../img/socials/vk.svg);

    }
    
    &--icon--fb .socials__link{
        background: url(../../img/socials/fbhover.svg);
    }


    &--icon--insta .socials__link {
        background: url(../../img/socials/in.svg);
    }

    &--icon--tv .socials__link {
        background: url(../../img/socials/tv.svg);
    }
}
.socials__link {
    width: rem(20px);
    height: rem(20px);
    display: block;
    text-decoration: none;
    background: center center / no-repeat;
}
