.headline {
    text-align: center;
    margin-bottom: rem(49px);
}


.headline__title {
    margin-bottom: rem(17px);

    @include phones {
        margin-bottom: rem(9px);
    }
}
.headline__subtitle{
    color: $body;
    text-align: center;
    padding: 0 27%;

    @include tablets {
        padding: 0 21%;
    }

    @include phones {
        padding: 0 6%;
    }
}