.product__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include tablets {
        flex-direction: column;
        justify-content: space-between;

    }
}


.product__image {
    margin-right: 3rem;
    width: rem(400px);
    height: rem(540px);
    background: url(../../img/bgs/productsbg.png) center center / contain no-repeat;
       
    &-elem {
        width: 100%;
        height: 100%;
    }

    @include tablets {
        margin-right: 0;
        width: rem(350px);
        height: rem(440px);
       
        
    }

    @include phones {
        width: rem(252px);
        height: rem(332px);
    }
        
   
}

.product__content {
    max-width: rem(368px);
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-7%);
    min-height: 25.25rem;

        @include tablets {
            justify-content: center;
            max-width: 31.44444rem;
        }

    &-text {
        min-height: rem(300px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.1875rem;

        @include tablets {
            width: 100%;
            align-items: center;

        }
    }
}



.product__title {
    font-size: rem(36px);
    font-weight: bold;
    text-transform: uppercase;

        @include tablets {
            text-align: center;
        }
}

.product__desc {
    color: $body;
    max-width: 23rem;
    font-size: 1rem;

    @include tablets {
        text-align: center; 
        max-width: 28rem;
    }
    
    @include phones {
        max-width: 21rem;
    }
}

.product__features{
    display: flex;
    max-width: rem(284px);
    justify-content: space-between;


    @include tablets {
        margin-left: rem(38px);
        max-width: 100%;
        justify-content: center;
    }

}
    .product__feature {

        &:first-child {
            @include tablets {
             margin-right:rem(42px);
            }

            @include phones {
                margin-right: rem(32px);
            }
        }
    }

.product__feature-title {
    color: $body;
}

.product__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(374px);
    flex-shrink: 0;
}
.product__price {
    font-weight: 300;
    font-size: rem(60px);
    flex-shrink: 0;

    @include tablets {
        margin-right: rem(30px);
    }

    @include phones {
        margin-right: rem(20px);
    }
    
}