.products-menu-section {
    position: relative;
    color: #ffff;
    background: url(../../img/products-menu/mainslide.png) center center / cover no-repeat;

    @include tablets {
        background: url(../../img/products-menu/mainslide.png) right 35% center / cover no-repeat;
    }
    


}

.products-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    
    &__section-title {
        position: absolute;
        top: rem(109px);
        left: rem(84px);

        @include tablets {
            top: rem(85px);
            left: rem(40px); 
        }

        @include phones {
            top: rem(76px);
            left: rem(10px);
            font-size: rem(40px);
        }
        
    }


    &__item {
        display: flex;
    }


    &__image {
        height: 100%;

    }

    &__title {
        position: relative;
        width: rem(100px);

        @include tablets {
            width: rem(65px);
        }


    }

    &__text {
        position: absolute;
        left: 50%;
        bottom: 2.125rem;
        font-size: rem(48px);
        font-weight: bold;
        color: #fff;
        transform-origin: 0 50%;
        transform: rotate(-90deg);

        @include phones {
            font-size: rem(40px);
        }
    }

    &__content {
        position: relative;
        background: rgba(51, 53, 55, 0.9);
        transition: width .7s;
        overflow: hidden;
        width: 0;

        &-text {
            font-size: rem(16px);

            @include phones {
                font-size: rem(14px);
            }
        }
    }

    &__container {
        padding: rem(40px) rem(73px) rem(45px) rem(26px);

        @include phones {
        padding: rem(30px) rem(35px) rem(45px) rem(26px);
        }
    }

    // &__close {
    //     position: absolute;
    //     top: 20px;
    //     right: 25px;
    //     border: none;
    //     background: transparent;


    // svg{
    // width: 18px;
    // height: 18px;
    // }
    // }

}
