.stop-scrolling{
height: 100vh;
overflow: hidden;
}




.overlay {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(51, 53, 55, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden ;
 
}

.vertical-menu{
    display: flex;
    color: #ffff;
    margin: 0%;
    padding: 0;
    transform: translateY(-10%);
    min-height: rem(445px);
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        & .menu__item {
            margin: 0;
            font-size:rem(36px);
            font-weight: normal;
        }
    }
    
}




.close__overlay {
    display: block;
    position: absolute;
    top: 42px;
    right: 42px;
    display: block;
    width: 20px;
    height: 20px;
    & svg {
        width: 20px;
        height: 20px;  
        fill: white;
    }
}
